## Exploring the SF Salaries Data

**Francis Kessie PhD**
<br>

This notebook is my personal solution to an excercise from [Python for data science and machine learning bootcamp](https://www.udemy.com/python-for-data-science-and-machine-learning-bootcamp) on udemy. The notebook explores the
[SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle. The data contains the names, job title, and compensation for San Francisco city employees on an annual basis from 2011 to 2014.

In [209]:
import pandas as pd

In [210]:
#Read Salaries.csv as a dataframe called saldf.
saldf = pd.read_csv('Salaries.csv')

In [211]:
saldf.head(2)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN

**How many entries there are in the record**

In [10]:
saldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**Estimate the average base pay **

In [11]:
saldf['BasePay'].mean()

66325.448840487705

**Estimate the highest amount of OvertimePay in the dataset **

In [12]:
saldf['OvertimePay'].max()

245131.88

**Identify the row with JOSEPH DRISCOLL **

In [28]:
JOS_DRISCOL = saldf[saldf['EmployeeName'] == "JOSEPH DRISCOLL"]
JOS_DRISCOL

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN

**What is the job title of JOSEPH DRISCOLL ?**

In [29]:
JOS_DRISCOL['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)? **

In [30]:
JOS_DRISCOL[['BasePay','OvertimePay','OtherPay','Benefits']].loc[24].sum()

270324.91000000003

** Bring out the details of the highest paid person (including benefits)?**

In [34]:
highest_paid_staff = saldf[saldf['TotalPayBenefits'] == saldf['TotalPayBenefits'].max()]
highest_paid_staff

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [36]:
highest_paid_staff['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [37]:
lowest_paid_staff = saldf[saldf['TotalPayBenefits'] == saldf['TotalPayBenefits'].min()]
lowest_paid_staff

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [224]:
#using pivot table
average_basep_by_year = saldf.pivot_table(index=['Year'], values=['BasePay'])
average_basep_by_year

           BasePay
Year
2011  63595.956517
2012  65436.406857
2013  69630.030216
2014  66564.421924

In [223]:
#alternatively using groupby
saldf.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [43]:
saldf['JobTitle'].nunique()

2159

**What are the top 5 most common jobs? **

In [73]:
saldf['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [145]:
saldf_2013 = saldf[saldf['Year']==2013]
saldf_2013_one = saldf_2013['JobTitle'].value_counts()
len(saldf_2013_one[saldf_2013['JobTitle'].value_counts() ==1])

202

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [225]:
def job_title_with_chief(sfl):
    if sfl.lower().find('chief') != -1:
        return True
    else:
        return False
    
clevel_staff = sum(saldf['JobTitle'].apply(job_title_with_chief))
clevel_staff

627

**Is there a correlation between length of the Job Title string and Salary?**

In [233]:
saldf['title_len'] = saldf['JobTitle'].apply(len)
saldf [['title_len', 'TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

In [ ]:
#there is no correlation